<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 id="question1"> Oceni nastavnika</h1>
    </div>
  </div>

  <div id="mat-check">
    <ul>
      <mat-checkbox><li><a>{{assessment[0]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[1]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[2]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[3]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[4]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[5]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[6]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[7]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[8]}}</a></li></mat-checkbox>
      <mat-checkbox><li><a>{{assessment[9]}}</a></li></mat-checkbox>
    </ul>
  </div>

  <button class="btn btn-primary"><a routerLink="/description">Send</a></button>
</div>

<router-outlet></router-outlet>
